<!DOCTYPE html>
<html>
<head>

</head>
<style>
  body {
    background-color: lightblue;

    margin-top:12%;
  }
</style>
<body style="background: linear-gradient(to bottom, #0062E6, #33AEFF);">
<div class="container test">
  <div class="row test" >
    <div class="col-lg-10 col-xl-9   mx-auto">
      <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
        <div class="card-img-left d-none d-md-flex">
          <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Login</h5>
          <hr class="my-4">

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">


            <div class="form-floating mb-3">
              <input type="email" formControlName="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com">
              <label for="floatingInputEmail">Email address</label>
            </div>

            <hr>

            <div class="form-floating mb-3">
              <input type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>


            <div class="d-grid mb-2">
              <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" [disabled]="!loginForm.valid" type="submit">Log In</button>
            </div>
          </form>
          <a class="d-block text-center mt-2 small" routerLink="/ResetPassword">Reset Password</a>
          <!-- <a class="d-block text-center mt-2 small" routerLink="/register">Create an account? Sign Up</a>-->






        </div>
      </div>
    </div>
  </div>
</div>
</body>


</html>
